*{
 box-sizing: border-box;
 margin: 0 auto;
 padding: 0rem;
 background-color: #f9f9f9;
}
.Tabs{
    display: flex;
    flex-direction: column;

}
.TabsList {
    display: flex;
    align-items: center;
    gap: 60px;
    width:98%;
    padding-left: 10px;
padding-right: 75px;
   
}
.tabHead{
padding: 15px;
color: gray;
}
.tabHead:hover {
    border-bottom: 3px solid blue;

}
.active {
    color: black;
    border-bottom: 3px solid blue;
}
.tabConstant {
    margin: 0 12px;
    margin-top: 24px;
}
.tabConstant div {
    width: 23%;
    height: 100%;

}
.tabConstant.d .coco  {
    text-align: center;
    width: 100%;
    margin-top: 22px;
    box-shadow: 2px 2px #80808033;
    background-color: white;
    border-radius: 11px;
    padding: 25px;
  
}
.tabConstant.d {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 59px;
    width: 92%;


}
.tabConstant.c{
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 92%;
text-align: center;
margin-left: 59px;

}
.tabConstant.c .coco{
    margin-top: 22px;
    box-shadow: 2px 2px #80808033;
    background-color: white;
    border-radius: 11px;
    padding: 25px;
}

@media only screen and (max-width: 1200px) {
    /* .tabConstant.c,.tabConstant.d {
        flex-direction: row;
    } */
    .TabsList{
        margin-top: 30px;
       gap:50px;
       flex-direction: column;
       position: absolute;
       left: 0px;
       width: 19%;
       text-align: left;
       align-items: start;
       padding: 0px;
       margin-top:68px;
    }
    .tabConstant {
        margin-left:120px;
        margin-right:0px; 

    }
    .tabConstant div  {
 width:40%;
    }
    .tabHead {
        padding-top: 15px;
padding-bottom: 15px;
margin-left: 19px;
    }
  }
  @media only screen and (max-width: 700px){
    .tabConstant div {
        width: 80%;
    }
  }
  @media only screen and (max-width: 460px) {

    .tabConstant {
        margin-left:10px;
        margin-right:0px; 

    }
    .active {
        background-color: white;
       border-left: 3px solid blue;
       border-bottom: none;
    }
    .TabsList {
        font-size: 12px;
    }
    .tabHead:hover{
        border-bottom: none;
        border-left: 3px solid blue;
    }
      .tabConstant div {
        width: 60%;
    }
  }