.Sups {
    width: 70%;
    border: 3px solid #8080801c;
    border-radius: 10px;
  }
.paragaph {
    background-color: white;
}
.btnS {
    border: none;
    color: black;
    text-align: start;
    background-color: white;
    width: 100%;
    border-radius: 10px;
    border-bottom:2px solid #8080801c;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    padding: 0px 13px;
  }
.btnS p {
   margin: 0;
    padding-left: 2%;
}
.us {
    color: gray;
    background-color: white;
    margin: 3%;

}
.bus {
    display: none;
}
.icon1 {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.icon2 {
    display: flex;
    flex-direction: column;
    margin: 0;
    rotate: 180deg;
}
